body {
    opacity: 0.9;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(212, 212, 211);
    background-image: url(https://wonderfulengineering.com/wp-content/uploads/2014/06/earth-wallpapers-6.jpg);
    }
    
    h1 {
    text-align:center;
    /*display: inline; */
    font-weight:bolder;
    text-decoration: underline;
    }
    
    h1:hover {
        color: rgb(182, 218, 248);
    }
    
    #result {
    
        color: aqua;
        font-size: larger;
    }
    
    button {
        
        padding: 0px 15px;
        margin: 15px;
        border-radius: 5px;
        background-color: rgb(33, 147, 147);
        font-size: larger;
    }
    
    button:hover {
    color: aliceblue;
    background-color: black;
    font-weight: bolder;
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    border-radius: 20px;
    font-size: 20px;
    }